*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-size: 2rem; }

::-moz-selection {
  background-color: lightgrey; }

::selection {
  background-color: lightgrey; }

.site-container {
  display: grid;
  grid-template-rows: 100vh 54.7rem repeat(4, 1fr); }

.home {
  background-image: url(../img/home-1.jpg);
  background-position: center;
  background-size: cover; }

.about {
  background-color: #67182b;
  color: #fff; }
