@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  position: relative;
  box-sizing: border-box;
  font: 1.6rem "WeblySleek UI", sans-serif;
  transition: all 1s; }

::-moz-selection {
  background-color: lightgrey; }

::selection {
  background-color: lightgrey; }

ul {
  list-style: none; }

.row {
  max-width: 114rem;
  width: 100%;
  margin: 0 auto; }
  .row::after {
    display: block;
    content: "";
    clear: both; }

/*
320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV.
*/
.top-bar {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between; }
  .top-bar__btn {
    cursor: pointer;
    color: #fff;
    border: 1px solid #fff;
    padding: 0.4rem 3rem;
    font-weight: 300;
    transition: all 0.3s ease-in-out; }
    .top-bar__btn:hover {
      padding: 0.405rem 3.1rem;
      margin: 0 -0.1rem;
      background-color: #616161; }
    .top-bar__btn:active {
      padding: 0.4rem 3rem;
      margin: 0; }
  .top-bar__open-hours {
    margin: auto auto auto 2.5rem;
    color: #fff; }
  .top-bar__form {
    position: relative; }
  .top-bar__form-input {
    border: none;
    width: 26.6rem;
    height: 2.6rem;
    padding-left: 1.2rem;
    transition: width 0.4s ease-in-out; }
    .top-bar__form-input:focus {
      width: 30rem; }
  .top-bar__btn--search {
    position: absolute;
    right: 1rem;
    top: 5px;
    background-color: transparent; }
  .top-bar__open-hours {
    font-size: 1.6rem; }
  .top-bar__phone-img {
    margin-top: 5px;
    margin-right: 10px; }
  .top-bar__phone-num {
    text-decoration: none;
    color: currentColor;
    font-size: 1.6rem;
    margin-right: 2rem; }

.logo__main {
  background-image: url(../img/sprite.png);
  width: 20.6rem;
  height: 4.6rem; }

.logo__sub {
  font-size: 2.2rem;
  font-weight: 300;
  color: #fff; }

.home-nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center; }
  .home-nav__item {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 fit-content;
    transition: all 0.2s; }
    .home-nav__item:hover {
      background-color: #952b44; }
  .home-nav__link {
    position: relative;
    top: 1rem;
    transition: all 0.3s; }
    .home-nav__link:link, .home-nav__link:visited {
      background-color: transparent;
      color: #fff;
      text-decoration: none;
      font-size: 2rem;
      font-weight: 300; }
    .home-nav__link:hover, .home-nav__link:active {
      padding-bottom: 5px; }
    .home-nav__link::after {
      display: inline-block;
      content: "";
      width: 100%;
      height: 100%; }

.features {
  display: flex;
  justify-content: space-between;
  max-width: 90rem; }
  .features__feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 20%;
    width: 100%; }
  .features__img {
    width: 100%;
    height: 5.5rem;
    background-image: url(../img/sprite.png);
    overflow: hidden; }
    .features__img--1 {
      max-width: 5rem;
      background-position: 0 5.5rem; }
    .features__img--2 {
      max-width: 5.2rem;
      background-position: -5.5rem 5.5rem; }
    .features__img--3 {
      max-width: 5.5rem;
      background-position: -11rem 5.5rem; }
    .features__img--4 {
      max-width: 4.6rem;
      background-position: -16.5rem 5.5rem; }

.cat__item {
  line-height: 1.7; }

.cat__link {
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
  text-decoration: none; }
  .cat__link:link, .cat__link:visited {
    color: currentColor;
    opacity: 0.7; }
  .cat__link:active, .cat__link:hover {
    text-decoration: underline;
    opacity: 1; }

.social-links {
  display: flex;
  justify-content: space-between;
  width: 25rem; }
  .social-links__item {
    width: 5rem;
    height: 5rem;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.2s;
    cursor: pointer; }
    .social-links__item:link, .social-links__item:visited {
      color: #67182b; }
    .social-links__item:active, .social-links__item:hover {
      background-color: #952b44; }
  .social-links__link {
    color: #67182b; }
    .social-links__link i {
      font-size: 3rem; }

/*
a:link - a normal, unvisited link
a:visited - a link the user has visited
a:hover - a link when the user mouses over it
a:active - a link the moment it is clicked

.section__btn - for positioning
.btn--modifier - for styling

.btn--home {
  background-color: rgb(103, 24, 43);
  width: 235px;
  height: 48px;
  left: 1293px;
  top: 662px;
}

.btn--gallery {
  border-width: 1px;
  background-color: rgb(149, 43, 68);
  border-color: rgb(149, 43, 68);
  width: 228px;
  height: 50px;
}


.btn--process {
  background-color: rgb(149, 43, 68);
  width: 226px;
  height: 48px;
  left: 842px;
  top: 5705px;
}

.btn--submit {
  background-color: rgb(149, 43, 68);
  width: 249px;
  height: 44px;
  left: 1254px;
  top: 6175px;
}

.btn--footer {
  background-color: rgb(149, 43, 68);
  width: 250px;
  height: 47px;
  left: 1254px;
  top: 6649px;
}
*/
.btn {
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  cursor: pointer; }
  .btn:link, .btn:visited {
    font-weight: 300;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 2rem; }
  .btn:hover, .btn:active {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    letter-spacing: 0.5px;
    font-weight: normal; }
  .btn--outline {
    color: #952b44;
    background-color: transparent;
    border: 1px solid #952b44; }
    .btn--outline:hover {
      color: #fff;
      background-color: #952b44;
      border: 1px solid #67182b; }
  .btn--light {
    color: #fff;
    background-color: #952b44;
    border: 1px solid #67182b; }
    .btn--light:hover {
      background-color: #67182b;
      border: 1px solid #fff; }
  .btn--dark {
    color: #fff;
    background-color: #67182b;
    border: 1px solid rgba(149, 43, 68, 0.5); }
    .btn--dark:hover {
      background-color: rgba(149, 43, 68, 0.5);
      border: 1px solid rgba(225, 225, 225, 0.5); }
  .btn--home {
    width: 23.5rem;
    height: 4.8rem; }
  .btn--gallery {
    width: 22.6rem;
    height: 4.8rem; }
  .btn--process {
    width: 22.6rem;
    height: 4.8rem; }
  .btn--submit {
    width: 24.9rem;
    height: 4.4rem; }
  .btn--footer {
    width: 25rem;
    height: 4.7rem; }

button {
  border: none;
  font-size: inherit;
  background-color: transparent; }

.bg-slider__img {
  width: 100%;
  height: auto;
  transition: opacity 0.8s ease-out;
  opacity: 0; }
  .bg-slider__img.alive {
    opacity: 1; }

.bg-slider__content {
  position: relative;
  z-index: 1; }

.dots {
  display: flex;
  justify-content: center; }
  .dots--white .dot {
    background-color: #fff; }
  .dots--colored .dot {
    background-color: #67182b; }

.dot {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  margin: 0 0.7rem;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s ease-out; }
  .dot.alive {
    opacity: 1; }

* {
  max-width: 100vw; }

.site-container {
  display: grid;
  grid-template-rows: auto 54.7rem 1fr auto repeat(2, 48.7rem); }

.bg-slider {
  display: grid;
  grid-template: auto / auto; }
  .bg-slider__img, .bg-slider__content {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    overflow: hidden; }

.home__top-bar {
  height: 5.6rem;
  margin-bottom: 3.8rem; }

.header {
  max-width: 114rem;
  margin: auto;
  margin-top: 11.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.gallery__row {
  display: grid;
  grid-template-columns: repeat(2, 50%); }

.gallery__text {
  grid-row: 1 / 2; }

.process__content {
  display: grid;
  grid-template-rows: repeat(2 auto);
  row-gap: 7.5rem;
  justify-content: center;
  justify-items: center; }

.book {
  display: flex;
  justify-content: center;
  align-items: center; }

.footer {
  display: flex;
  justify-content: center; }
  .footer__container {
    display: grid;
    grid-template-columns: repeat(8, minmax(3rem, -webkit-max-content)) minmax(4.5rem, -webkit-max-content);
    grid-template-columns: repeat(8, minmax(3rem, max-content)) minmax(4.5rem, max-content);
    grid-template-rows: minmax(-webkit-min-content, -webkit-max-content);
    grid-template-rows: minmax(min-content, max-content);
    justify-content: space-between;
    width: 114rem; }

@media only screen and (max-width: 1870px) {
  .header {
    margin-top: 8rem; }
  .home__text-header {
    font-size: 7.5rem !important; }
  .home__dots {
    margin-top: 7rem !important; }
  .home__shevron {
    margin-top: 4rem !important; } }

@media only screen and (max-width: 1536px) {
  .site-container {
    grid-template-rows: auto 50rem 1fr auto 45rem 42rem; }
  .header {
    margin-top: 4rem; }
  .home__text-header {
    font-size: 6.5rem !important; }
  .home__dots {
    margin-top: 3rem !important; }
  .home__shevron {
    margin-top: 2rem !important; }
  .process__content {
    row-gap: 6rem; }
  .h2 {
    font-size: 4.5rem !important; } }

@media only screen and (max-width: 1366px) {
  .site-container {
    grid-template-rows: auto 45rem 1fr auto 45rem 42rem; }
  .home__text-header {
    font-size: 5.5rem !important;
    font-weight: 300; } }

@media only screen and (max-width: 1280px) {
  .site-container {
    grid-template-rows: auto 45rem 1fr auto 40rem 42rem; }
  .home__btn {
    margin-top: 3rem !important; }
  .home__dot {
    width: 1rem;
    height: 1rem; }
  .btn--home, .btn--gallery, .btn--process {
    font-size: 1.9rem !important;
    width: 20rem;
    height: 4.5rem; }
  .btn--submit {
    font-size: 1.7rem !important; }
  .btn--footer {
    font-size: 1.5rem !important; } }

@media only screen and (max-width: 1200px) {
  .row {
    max-width: 100rem; }
  body {
    font-size: 1.4rem; }
  .header {
    margin-top: 2.5rem; }
  .home__dots {
    margin-top: 1rem !important; }
  .home-nav__link:link {
    font-size: 1.8rem; }
  .btn--home, .btn--gallery, .btn--process {
    font-size: 1.8rem !important;
    width: 18rem;
    height: 4.3rem; }
  .btn--submit {
    width: 23rem;
    font-size: 1.5rem !important; }
  .btn--footer {
    width: 23rem;
    font-size: 1.3rem !important; }
  .h4 {
    font-size: 2rem !important; }
  .h5 {
    font-size: 1.6rem !important; }
  .gallery__text__message {
    font-size: 1.8rem; }
  .social-links {
    width: 23rem; }
    .social-links__item {
      width: 4rem;
      height: 4rem; }
    .social-links .fab {
      font-size: 2rem; }
  .footer__container {
    width: 100rem; } }

.modal {
  display: block;
  position: fixed;
  width: 80vw;
  height: 80vh;
  top: 10%;
  bottom: 10%;
  left: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-image: linear-gradient(to right bottom, #67182b, #952b44);
  z-index: 3;
  border-radius: 3px;
  padding: 10rem 16rem; }
  .modal--hidden {
    display: none; }
  .modal p, .modal ul li {
    color: #f1f1f1;
    font-size: 2rem;
    font-style: italic;
    line-height: 1.6; }

.modal-li::before {
  content: '💥';
  padding-right: 5px; }

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 3.3rem;
  color: #f1f1f1;
  cursor: pointer;
  border: none;
  background: none; }

.overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right bottom, rgba(103, 24, 43, 0.5), rgba(149, 43, 68, 0.5));
  backdrop-filter: blur(3px);
  z-index: 2; }

.overlay--hidden {
  display: none; }

.my-email {
  font-size: 2.3rem; }

.home {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 25%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.05) 75%, rgba(0, 0, 0, 0) 100%);
  position: relative;
  z-index: 2; }
  .home__bg-inner {
    position: relative;
    z-index: 1; }
  .home__top-bar {
    color: #f1f1f1;
    background-color: #000; }
  .home__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3.8rem; }
  .home__nav {
    height: 4.8rem;
    background-color: #67182b; }
  .home__text-header {
    align-self: end;
    font-size: 8rem;
    font-weight: 400;
    line-height: 1;
    text-align: end;
    color: #fff; }
    .home__text-header span:first-child {
      letter-spacing: 1.35px; }
  .home__btn {
    align-self: flex-end;
    font-size: inherit;
    margin-top: 5rem; }
  .home__dots {
    margin-top: 14.5rem; }
  .home__shevron {
    display: block;
    margin-top: 11rem;
    width: 55px;
    height: 42px;
    background-color: #67182b;
    cursor: pointer; }
    .home__shevron--icon {
      display: inline-block;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url(../img/sprite.png);
      background-position: -218px -84px;
      overflow: hidden;
      width: 37px;
      height: 26px;
      transition: all 0.2s; }
      .home__shevron--icon:hover {
        transform: translate(-50%, -40%); }

.about {
  background-color: #67182b;
  color: #fff; }

.gallery__row--1 > *:first-child {
  grid-column: 1 / 2; }

.gallery__row--1 > *:last-child {
  grid-column: 2 / 3; }

.gallery__row--2 > *:first-child {
  grid-column: 2 / 3; }

.gallery__row--2 > *:last-child {
  grid-column: 1 / 2; }

.gallery__row--3 > *:first-child {
  grid-column: 1 / 2; }

.gallery__row--3 > *:last-child {
  grid-column: 2 / 3; }

.gallery__row--4 > *:first-child {
  grid-column: 2 / 3; }

.gallery__row--4 > *:last-child {
  grid-column: 1 / 2; }

.gallery__picture {
  position: relative;
  overflow: hidden;
  background-color: rgba(103, 24, 43, 0.7); }
  .gallery__picture__img {
    display: block;
    max-width: 50vw;
    width: 100%;
    opacity: 0.6;
    transition: all 0.4s ease-in-out; }
    .gallery__picture__img:hover {
      opacity: 0.8;
      transform: scale(1.03); }
  .gallery__picture__romb {
    position: absolute;
    top: 48.5%;
    width: 2vw;
    height: 2vw;
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    background-color: #fff; }
    .gallery__picture__romb--right-stick {
      right: -1vw; }
    .gallery__picture__romb--left-stick {
      left: -1vw; }

.gallery__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 74%;
  text-align: center;
  margin: 0 auto;
  font-family: "WeblySleek UI", sans-serif; }
  .gallery__text__message {
    margin-bottom: 3rem; }

.gallery__hr {
  width: 50%;
  margin: 3rem auto; }

.process {
  position: relative;
  overflow: hidden; }
  .process__content {
    width: 100%;
    position: absolute;
    top: 20%;
    left: 50%;
    left: 50%;
    transform: translateX(-50%); }

.book {
  background-image: url(../img/apply-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .book__form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 114rem;
    border: 1px solid #fff;
    padding: 3rem; }
    .book__form__search {
      flex-grow: 1;
      margin-right: 3rem;
      padding: 1rem;
      border: none;
      color: #aaaaaa;
      font: 1.6rem "WeblySleek UI", sans-serif; }

.footer {
  background-color: #67182b;
  color: #fff; }
  .footer__container {
    margin-top: 4rem;
    height: 80%; }
  .footer__gutter {
    width: 1.5rem;
    border-right: 1px solid #952b44; }
  .footer__h5 {
    margin-bottom: 2.5rem; }
  .footer__btn {
    margin: 2.3rem auto; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: flex;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%); }
  @media only screen and (max-width: 1600px) {
    .slick-dots {
      bottom: 20%; } }
  @media only screen and (max-width: 1460px) {
    .slick-dots {
      bottom: 16%; } }
  @media only screen and (max-width: 1200px) {
    .slick-dots {
      bottom: 12%; } }
  .slick-dots li button {
    font-size: 0;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    margin: 0 0.7rem;
    cursor: pointer;
    background-color: rgba(103, 24, 43, 0.5); }
  .slick-dots li.slick-active button {
    background-color: #67182b; }

h1,
.h2,
.h3,
p {
  color: #292929; }

.h2 {
  font-size: 4.8rem;
  font-weight: 400;
  letter-spacing: 2px; }

.h3 {
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 1px; }
  .h3--light {
    font-weight: 400;
    color: #fff; }

.h4--features {
  font-size: 2.2rem;
  font-weight: 300; }

.h5 {
  font-size: 1.8rem;
  font-weight: 400; }

p {
  font-size: 2rem; }

.hr {
  height: 1px;
  border-width: 0; }
  .hr--dark {
    color: #952b44;
    background-color: #952b44; }
  .hr--about {
    width: 19rem;
    margin: 6.3rem auto; }

address {
  font-style: normal;
  line-height: 1.5; }

.home-nav__link {
  display: inline-block; }
