$color-main: #67182b; //rgb(103, 24, 43)
$color-main-transparent: rgba(103, 24, 43, .5);
$color-secondary: #952b44; //rgb(149, 43, 68)
$color-secondary-transparent: rgba(149, 43, 68, .5);
$color-shadow: rgba(225, 225, 225, .5);
$color-dark: rgb(41, 41, 41);
$color-light: rgb(241, 241, 241);

@mixin adjust-horizontally {
 left: 50%;
 transform: translateX(-50%);
}

@mixin dot-style {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  margin: 0 0.7rem;
  cursor: pointer;
}