*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font: 1.6rem 'WeblySleek UI', sans-serif;
}

::-moz-selection {
    background-color: lightgrey;
}

::selection {
    background-color: lightgrey;
}

ul {
    list-style: none;
}

.row {
    max-width: 114rem;
    width: 100%;
    margin: 0 auto;

    &::after {
        display: block;
        content: "";
        clear: both;
    }
}

/*
320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV.
*/