.btn {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.6rem;
    padding: 1rem 3.5rem;

    &--light {
        color: $color-main;
        background-color: transparent;
        border: 1px solid $color-main;
    }    

    &--dark {
        color: #fff;
        background-color: $color-main;
        font-weight: 300;
    }
}