.bg-slider {
  &__img {
    width: 100%;
    height: auto;
    transition: opacity 0.8s ease-out;
    opacity: 0;

    &.alive {
      opacity: 1;
    }
  }

  &__content {
    position: relative;
    z-index: 1;
  }
}

.dots {
  display: flex;
  justify-content: center;

  &--white .dot {
    background-color: #fff;
  }

  &--colored .dot {
    background-color: $color-main;
  }
}

.dot {
  @include dot-style;
  opacity: 0.5;
  transition: opacity 0.3s ease-out;

  &.alive {
    opacity: 1;
  }
}

