.site-container {
    display: grid;
    // grid-template-rows: 125vh 54.7rem 1fr 48.7rem repeat(2, 48.7rem);
    grid-template-rows: 125vh 54.7rem 1fr repeat(3, 48.7rem);
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery {
    &__row {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 74%;
        text-align: center;
        margin: 0 auto;
    }
}

.process {
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.book {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;

    &__container {
        display: grid;
        grid-template-columns: repeat(9, minmax(3rem, max-content));
        grid-template-rows: minmax(min-content, max-content);
        justify-content: space-between;
        width: 57vw;
    }
}