// @media only screen and(max-width: 1920px) {

// }

@media only screen and(max-width: 1536px) {
  .home__shevron {
    margin-top: 8rem;
  }
}

@media only screen and(max-width: 1366px) {
  p {
    color: red !important;
  }
}

@media only screen and(max-width: 992px) {
  p {
    color: red !important;
  }
}

@media only screen and(max-width: 768px) {
  p {
    color: red !important;
  }
}

@media only screen and(max-width: 576px) {
  p {
    color: red !important;
  }
}

@media only screen and(max-width: 3200px) {
  p {
    color: red !important;
  }
}
