.home {
    background-image: linear-gradient(to bottom,
            rgba(0, 0, 0, .7)0%,
            rgba(0, 0, 0, .3)25%,
            rgba(0, 0, 0, .1)50%,
            rgba(0, 0, 0, 0)75%,
            rgba(0, 0, 0, 0)100%),
        url(../img/home-1.jpg);
    background-position: center;
    background-size: cover;


    &__top-bar {
        background-color: #000;
        height: 100%;
        display: grid;
        grid-template-columns: 40rem repeat(2, 26.4rem) 1fr 1rem repeat(2, 15.4rem) 40rem;
        align-content: center;   
    }

    &__logo {
        display: grid;
        grid-template-rows: minmax(min-content, max-content);
        justify-content: center;
        justify-items: center;
    }

    &__nav {
        background-color: $color-main;
    }

    &__text-header {
        margin-top: 10rem;
        font-size: 8rem;
        font-weight: 300;
        color: #fff;
    }

    &__btn {
        // margin-top: 1.8rem;
        font-size: 2rem;
        padding: 0 6rem;
        // width: 235px;
        // height: 48px;
    }

    &__slider {
        margin-top: 10.5rem;
    }

    &__shevron {
        background-color: $color-main;
        margin: 6.6rem auto;
        width: 55px;
        height: 42px;
    }

    &__shevron-icon {
        overflow: hidden;
        display: inline-block;
        background-image: url(../img/sprite.png);
        background-position: -218px -84px;
        width: 37px;
        height: 26px;
    }
}


.home-nav {
    display: flex;
    justify-content: center;
    align-items: center;

    // &__item {
    // }

    &__link {
        padding: .5rem 1.2rem;
        text-decoration: none;
        font-size: 2rem;
        line-height: 4rem; //Should by twise of font-size. Do not use "%".
        font-weight: 300;
        color: #fff;
        transition: all .2s;

        &:hover {
            opacity: .7;
            background-color: $color-secondary;
        }
    }
}

.about {
    background-color: $color-main;
    color: #fff;
}

.gallery {
    &__row {
        &--1 {
            &>* {
                &:first-child {
                    grid-column: 1 / 2;
                }

                &:last-child {
                    grid-column: 2 / 3;
                    ;
                }
            }
        }

        &--2 {
            &>* {
                &:first-child {
                    grid-column: 2 / 3;
                }

                &:last-child {
                    grid-column: 1 / 2;
                    ;
                }
            }
        }

        &--3 {
            &>* {
                &:first-child {
                    grid-column: 1 / 2;
                }

                &:last-child {
                    grid-column: 2 / 3;
                    ;
                }
            }
        }

        &--4 {
            &>* {
                &:first-child {
                    grid-column: 2 / 3;
                }

                &:last-child {
                    grid-column: 1 / 2;
                    ;
                }
            }
        }
    }

    &__picture {
        position: relative;
        // background-color: rgba($color-main, .702);
        background-color: rgba($color-main, 1);


        &__img {
            display: block;
            max-width: 50vw;
            width: 100%;
            opacity: .3;
        }

        &__romb {
            position: absolute;
            top: 48.5%;
            width: 2vw;
            height: 2vw;
            clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
            background-color: #fff;

            &--right-stick {
                right: -1vw;
            }

            &--left-stick {
                left: -1vw;
            }
        }
    }

    &__text {
        grid-row: 1 / 2;
        font-family: 'WeblySleek UI', sans-serif;

        &__message {
            margin-bottom: 3rem;
        }
    }

    &__hr {
        width: 50%;
        margin: 3rem auto;
    }
}

.process {
    background-image: url(../img/process-1.jpg);
    background-size: cover;
    background-position: center;

    &__btn {
        margin: 10rem auto;
    }

    // &__slider {
    //     margin: 0 auto;
    // }
}

.book {
    background-image: url(../img/apply-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__form {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 57%;
        border: 1px solid #fff;
        padding: 3rem;

        &__search {
            flex-grow: 1;
            margin-right: 3rem;
            padding: 1rem;
            border: none;
            color: rgb(170, 170, 170);
            font: 1.6rem 'WeblySleek UI', sans-serif;
        }
    }

}

.footer {
    background-color: $color-main;
    color: #fff;

    &__container {
        margin-top: 4rem;
        height: 80%;
    }

    &__gutter {
        width: 1.5rem;
        border-right: 1px solid $color-secondary;
    }

    &__h5 {
        margin-bottom: 2.5rem;
    }

    &__btn {
        margin: 2.3rem auto;
    }
}