.home {
    background-image: url(../img/home-1.jpg);
    background-position: center;
    background-size: cover;
}

.about {
    background-color: rgb(103, 24, 43);
    color: #fff;
}

.gallery {
    background-color: rgb(24, 67, 103);
    color: sandybrown;
}

.process {
    background-color: rgb(132, 219, 170);
}

.book {
    background-color: rgb(103, 24, 43);
  }
  