.home {
    background-image: url(../img/home-1.jpg);
    background-position: center;
    background-size: cover;
}

.about {
    background-color: rgb(103, 24, 43);
    color: #fff;
}

.gallery {

    &__row {
        &--1 {
            & > * {
                &:first-child {
                    grid-column: 1 / 2;
                }
                &:last-child {
                    grid-column: 2 / 3;;
                }
            }
        }
        
        &--2 {
            & > * {
                &:first-child {
                    grid-column: 2 / 3;
                }
                &:last-child {
                    grid-column: 1 / 2;;
                }
            }
        }
        
        &--3 {
            & > * {
                &:first-child {
                    grid-column: 1 / 2;
                }
                &:last-child {
                    grid-column: 2 / 3;;
                }
            }
        }
        
        &--4 {
            & > * {
                &:first-child {
                    grid-column: 2 / 3;
                }
                &:last-child {
                    grid-column: 1 / 2;;
                }
            }
        }
    }

    &__picture {
        position: relative;


        &__img {
            display: block;
            max-width: 50vw;
            width: 100%;
        }

        &__romb {
            position: absolute;
            top: 48.5%;
            width: 2vw;

            &--right-stick {
                right: -1vw;
            }

            &--left-stick {
                left: -1vw;
            }
        }
    }

    &__text {
        grid-row: 1 / 2;
    }
}

.process {
    background-color: rgb(132, 219, 170);
}

.book {
    background-color: rgb(103, 24, 43);
  }
  