.h2 {
    font-size: 4rem;
    font-weight: 400;
}

.h3 {
    text-transform: uppercase;
    font-size: 2rem;

    &--light {
        font-weight: 400;
    }
}

.h4 {
    &--features {
        font-size: 2.2rem;
        font-weight: 300;
    }
}

.h5 {
    font-size: 1.8rem;
    font-weight: 400;

    // @media screen and (max-width: 1824px) {
    //     font-size: 95%;
    // }
}

.hr {
    height: 1px;
    border-width:0;

    &--dark {
        color: $color-secondary;
        background-color: $color-secondary;
    }

    &--about {
        width: 19rem;
        margin: 6.3rem auto;
    }
}

address {
    font-style: normal;
}

.home-nav__link {
    display: inline-block;
}